.login-main-div {
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    ;
}

.loginDiv {
    max-width: 35%;
    height: 500px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
}

.login-box {
    margin-top: 42px;
    padding: 10px;
}

.loginDiv .dp {
    margin: auto;
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px #b3afaf;
    z-index: 1000;
}

.loginDiv .dp>img {
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
}

.err-msg {
    color: red;
    text-align: right;
    float: right;
    margin-top: -20px;
}